@media only screen and (max-width:300px) {
    #large, #medium{display: none;}
    body {
        background-color: red;
    }
    .smaller{
        font-size: small;
    }
    .first, .second, .third {display: block;}
}
    @media only screen and (min-width: 301px) and (max-width:768px) {
        #large, #small{display: none;}
        body {
            background-color: green;
        }
        .mediumer{
            font-size: medium;
        }
        .first{width: 66%}
        .second{width: 33%}
        .third{width: 100%}
    }
    @media only screen and (min-width:769px) {
        #small, #medium{display: none;}
    body {
        background-color: blue;

    }
    .lager{
        font-size: large;
    }
    .first, .second, .third{display:inline-block;
    width: 30%}
}
